-# ヘッダーにH1を含めた場合の構造化マークアップ回答例
-# サブカラムの見出し要素は敢えて定義タグに（メイン側の同レベル見出しとの差をつけるため）
%h1 トレーニングウェア比較
%p ジムやスポーツシーンに活躍するトレーニングウェア、フィットネスウェアを紹介

%dl
  %dt トレーニングウェア
  %dd
    %ul
      %li= link_to '2XU ツータイムズユー', ''
      %li= link_to 'adidas TECH FIT アディダステックフィット', ''
      %li= link_to 'C3fit シースリーフィット', ''
      %li= link_to 'CW-X シーダブリューエックス', ''
      %li= link_to 'NIKE PRO ナイキプロ', ''
      %li= link_to 'Reebok TAIKAN リーボックタイカン', ''
      %li= link_to 'SKINS スキンズ', ''
      %li= link_to 'VENEX ベネクス', ''
      %li= link_to 'UNDER ARMOUR アンダーアーマー', ''
      %li= link_to 'mizno BIO GEAR ミズノバイオギア', ''
%dl
  %dt トレーニングウェアガイド
  %dd
    %ul
      %li= link_to 'コンプレッションインナーとは？', ''
      %li= link_to '高機能インナーとは？', ''
      %li= link_to 'リカバリーウェアとは？', ''
      %li= link_to 'トレーニングウェアの選び方', ''
      %li= link_to 'フィットネスウェアの選び方', ''

%h2 adidas TECHFIT（アディダステックフィット）の効果と特長
%p
  プロサッカー選手も愛用していることで注目を集めているadidasのコンプレッションウェアTECHFIT（テックフィット）。世界的人気を誇るスポーツブランドadidasが開発したコンプレッションウェアということで、多くの人気を集めています。
%p
  コンプレッションウェアは様々なブランドから発売されていますが、その機能性の高さから価格設定も高額なコンプレッションウェアが多い中、adidasのコンプレッションウェアは高機能を持ちながらも手頃な価格で販売されているのも人気の秘密です。

%h3 adidas TECHFIT（アディダステックフィット）の特長
%p
  adidas TECHFITの特長は、人間工学に基づいたウェア設計がなされているため、激しい運動中でも着衣ズレが起きないように工夫されています。さらに、シーン別に以下のような3種類のウェア展開がなされています。

%h4 1. 高い通気性機能を持つ”TECHFIT COOL”
%p
  独自に開発されたCLIMACOOL機能を搭載。高い通気性機能が特長です。
  シャツの前部分の素材は多孔質のため高い通気性を実現しており、高い空冷効果と着心地を実現しています。ウェアに通気性を最も求める人にはこのシリーズがおすすめです。

%h4 2. 姿勢を矯正して体幹を支える”TECHFIT POWER”
%p
  独自に開発されたPOWERWEB機能を搭載。姿勢を維持し、体幹の安定をサポートしてくれるため、アスリートのパフォーマンスを向上させます。
  ウェアに姿勢を矯正、体幹の安定を最も求める人にはこのシリーズがおすすめです。

%h4 3. 優れた吸汗速乾性をもつ”TECHFIT BASE”
%p
  独自に開発されたCLIMALITE機能を搭載。優れた吸汗速乾性と透湿性を実現させたウェアです。
  柔軟性、軽量性に優れた素材が使用されているため着心地は抜群。肩部分に多孔性メッシュの新素材パネルが採用されているため通気性も良好です。
  ウェアに軽さと吸汗速乾性を最も求める人にはこのシリーズがおすすめです。

%h2 adidas TECFHFIT（アディダステックフィット）のメリット・デメリット
%h3 メリット
%p
  adidas TECFHFITのメリットは、高機能でデザインもかっこよくて価格が手頃と3つのメリットが揃います。POWERWEBが搭載されたウェアでは、姿勢が矯正されるため、普段猫背などのように姿勢が悪かったのが矯正されたという声も聞かれます。
  さらに、adidasのファッション性を活かしたデザインに仕上げられており、見た目のカッコよさも人気です。

%h3 デメリット
%p
  試着時や新品着用時、その圧着感からきつすぎると感じることがあります。
  しかし、一度洗濯をするとちょうどよく馴染むようになります。着用回数を重ね、洗濯を繰り返していくうちに伸びてしまうため、着用感が弱く感じるようになったら買い替え時と思いましょう。

%h2 adidas TECHFIT（アディダステックフィット）はこんなウェア
%p
  adidas TECHFITは、adidasならではのハイセンスなファッション性を活かしたデザインが人気を誇ります。
  さらに、サッカーの内田篤人選手・香川真司選手・清武弘嗣選手がイメージモデルを努めていることからも、「同じウェアが着たい」というファンの人気も多く得ています。
%p
  コンプレッションウェアの割に低価格な設定がされているadidas TECHFITは、同じ価格帯でコンプレッションウェアを出してきているNIKEと人気を二分しています。
  adidasもNIKEもファッション性の高いスポーツブランドとして、その人気は”adidas派”と”NIKE派”に分かれているように、コンプレッションウェアも”adidas派”と”NIKE派”にファンが分かれているように見受けられます。
  NIKEとともに、本番用としてはもちろん、トレーニングウェアとして多くの愛用者を持つadidas TECHFITは、大人はもちろん、部活動などの練習着として多くの中高生からも愛用されています。

= link_to 'adidas TECHFIT（アディダステックフィット）のブランドサイトはこちら', ''

%h2 その他のトレーニングウェア
%ul
  %li= link_to '2XU ツータイムズユー', ''
  %li= link_to 'C3fit シースリーフィット', ''
  %li= link_to 'CW-X シーダブリューエックス', ''
  %li= link_to 'NIKE PRO ナイキプロ', ''
  %li= link_to 'Reebok TAIKAN リーボックタイカン', ''
  %li= link_to 'SKINS スキンズ', ''
  %li= link_to 'VENEX ベネクス', ''
  %li= link_to 'UNDER ARMOUR アンダーアーマー', ''
  %li= link_to 'mizno BIO GEAR ミズノバイオギア', ''

%address Copyright(C) 2014 Venex Co.Ltd All rights reserved.